html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image:
  color: #ff0066;
}

#dropdown {
  color: white;
}

#head {
  color: white;
}

#para {
  color: white;
  margin-left: 30px;
}

.bullet-margin{
  margin-left: 50px;
}

.navbar-custom {
    background-color: black;
    
}
#textOnNav{
  margin-left: 50px;
  margin-right: 50px; 
  white-space:nowrap;
}
#spaceDIV {
  visibility: hidden;
}

#dropdown:hover {
  color : black;
}

#menutabs {
  padding-right: 30px;
  padding-left: 30px;
  
}
html, body {
   background : linear-gradient(#f90192, #e801f9);
 
}


p {
  font-family: verdana;
  font-size: 20px
}
.logo{
  width: 100px;
  height: 100px;
}

img {
  border-radius: 50%;
}

.navbar-nav > li{
  margin-left:300px;
  margin-right:30px;
}

.nav-link{
  margin-left:100px;
}