html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image:
  color: #ff0066;
}

#dropdown {
  color: white;
}

#dropdown:hover {
  color : black;
}

html, body {
  background : linear-gradient(#ff0066, #ff9933);
}

p {
  font-family: verdana;
  font-size: 20px
.logo{
  width: 100px;
  height: 100px;
}

img {
  border-radius: 50%;
}

.navbar-nav > li{
  margin-left:30px;
  margin-right:30px;
  text-align: right;
}

.nav-link{
  margin-left:100px;
}