html, body {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image:
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.logo{
  width: 100px;
  height: 100px;
}

img {
  border-radius: 50%;
}